<section class="new-product-form">

  <div class="form-header">
    <h4>Add a new product</h4>
  </div>

  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate">
            <label for="name" class="">Name of the product</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="description" type="text" class="validate">
            <label for="description">Description</label>
          </div>
        </div>
        <!-- todo : add remaining fields, refer product properties-->
      </form>
    </div>

    <div class="product-buttons">
      <!-- todo : add action buttons like publish, save etc-->
    </div>
  </section>