<nav class="nav-extended">
  
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">AS Admin</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/user"><i class="material-icons">face</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <!-- todo : add active class to active tab -->
        <li class="tab"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="tab"><a routerLink="/products">Products</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#!">Mobile</a></li>
</ul>