.product-detail {
    .short-detail {
        color: rgb(87, 87, 87);
        font-size: 0.9em;
    }
    hr {
        margin-bottom: 2em;
    }
    .price {
        color: #FF6772;
        font-size: 2em;
    }
}