/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

.clickable {
    cursor: pointer;
    &:hover {
        box-shadow: 1px 3px 6px 0px grey;
    }
}